.ace-editor {
    height: 300px;
    width: 100%;
}

.editor, .content {
  position: absolute;
}

.editor-html, .content-preview {
  top: 50px;
}

.editor-javascript {
  top: 420px;
}

.content-preview {
  left: 50%;
}
